*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scrollbar-color: #3f3ff8 #fff;
}

html::-webkit-scrollbar-thumb {
    background-color: #3f3ff8;
}

html::-webkit-scrollbar-track {
    background-color: #fff;
}