@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


/* Elementos padronizados */


.blue {
    background-color: #3f3ff8;
}

.white {
    background-color: #fff;
}

.line {
    width: 50em;
    height: 2px;
    margin: 0.5em 0;
    /* background-color: #fff; */
}

.btn,
.btnInput {
    width: 100%;
    padding: 0.7em 1em;
    background-color: #fff;
    border: none;
    border-radius: 5em;
    margin: 0.5em 0;
    color: #3f3ff8;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.btn:hover, 
.btnInput:hover {
    background-color: #9191f8;
}



/* .btnInput {
    padding: 0.7em 1em;
    background-color: #fff;
    border: none;
    border-radius: 5em;
    margin: 1em 0;
    color: #3f3ff8;
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}

.btnInput:hover {
    background-color: #9191f8;
} */

/* ---------------- Navbar ---------------- */

header{
    display: flex;
    width: 100%;
    background-color: #3f3ff8;
    padding: 0.7rem 0;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_logo {
    width: 50%;
    margin: 0.5em 1em;
}


.navbar_logo h1 a {
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

.navbar_logo h1 a,
.navbar_logo h1 span {
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;
}

.navbar_logo h1 a:hover {
    color: yellow;
}

.navbar_links {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar_links ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_links ul li {
    font-size: 1.2rem;
    list-style: none;
    font-weight: bold;
}

.navbar_links ul a {
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

.navbar_links ul a:hover {
    color: yellow;
}

#responsive {
    width: 100%;
    display: none;
    align-items: center;
}


/* ---------- Sessão 1 - apresentação -------------- */

.apresentacao{
    display: flex;
    width: 100%;
    height: 87vh;
    /* margin: 0.5em 0; */
    background-image: url(../images/salao-festa-capa.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.effect {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
}

.apresentacao_text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.apresentacao_text h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #fff;
}

.apresentacao_text p {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-align: justify;
    color: #fff;
}

.apresentacao_text p a {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.15em;
    text-decoration: none;
    font-weight: bold;
    color:#6464ff;
}

.apresentacao_img {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.apresentacao_img img{
    width: 50%;
    border-radius: 3%;
}

.text_between_box {
    width: 100%;
    padding: 1.5em 0;
    background-color: #6464ff;
}

.text_between_box p {
    color: #fff;
    width: 100%;
    font-family: 'Cedarville Cursive', cursive;
    font-style: italic;
    font-size: 1.7em;
    text-align: center;
    margin: 0.35em 0;
}


/* ---------- Sessão 2 --------------- */

.topics {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topics h2 {
    margin-top: 1.5em;
    color: #3f3ff8;
}

.container{
    width: 100%;
    display: grid;
    align-items: center;
    margin: 1.5em 0;
    padding: 2em;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #3f3ff8;
}

.card img {
    margin: 1.5em;
    width: 50px;
}

.card i {
    margin: 0.5em;
    width: 50px;
    font-size: 3em;
}

/* ------------sessão 3 ------------- */

.salons,
.salons_box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5em 1em;
    background-color: #6464ff;
    
}

.salons h1 {
    color: #fff;
    margin: 0.5em 0;
}


.salons_grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 1em;
    align-items: center;
    justify-content: center;
}

.card_salons {
    width: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 1em 1em;
    border-radius: 15px;
    margin: 1em 0;
}

.card_img {
    width: 50%;
    display: flex;
    padding: 0.5em 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_img img {
    width: 15em;
}

.description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0.4em;
    border-left: 1px solid #3f3ff8;
    color: #3f3ff8;
}

.description h2,
.description h4 {
    text-align: center;
    margin: 1em 0;
}

.description p {
    margin: 0.5em;
    font-size: 0.9em;
    text-align: justify;
    font-style: italic;
}

.description ul li{
    list-style: none;
    margin-bottom: 0.5em;
    font-size: 0.89em;
}

.description ul li span {
    font-weight: bold;
}

.galery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #6464ff;

}

.galery_grid {
    padding: 1.5em;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.galery_grid img {
    width:10%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
    border: 1px  solid #fff;
    transition: all ease-in-out 0.5s;
}

.galery_grid img:hover {
    width: 50%;
}

.galery {
    display: none;
}

/* -------- Sessão 4 - pacotes -------- */

.packages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5em;
    flex-wrap: wrap;
}

.packages h1 {
    margin: 1.5em 0;
    color: #3f3ff8;
}

.packages_lists {
    width: 100%;
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    /* row-gap: 1em; */
    
}

.packages_itens {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #6464ff;
    color: #fff;
    border-radius: 15px;
    padding: 1.5em 0;
}

.packages_itens h3 {
    margin: 1.5em 0;
    font-size: 1.5em;
}

.packages_itens ul li {
    list-style: none;


}

.packages_additional {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------- Sessão 5 sobre nos -------- */

.about {
    width: 100%;
    display: flex;
    margin: 1.5em 0;
    padding-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6464ff;
    color: #fff;
}

.about h1 {
    margin: 1.5em 0;
}

.text {
    width: 60em;
    padding: 1em;
}

.text p {
    font-size: 1.3em;
    margin: 0.5em;
    text-align: justify;
    text-indent: 3em;
    letter-spacing: 1.5px;
}

/* ------ Sesão 5 contatos ------  */


.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h1 {
    color: #3f3ff8;
}

#alert {
    width: 30%;
    text-align: center;
    background-color: #df0303;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 1rem;
    margin: 0.5rem 0;
    display: none;
}

.contact_form_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact_form {
    width: 45em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #6464ff;
    padding: 1.5rem 2.5rem;
    border-radius: 15px;
    color: #fff;
    margin: 1.5em 0;
}

.contact_form h1 {
    /* margin: 1em 0; */
    color: #fff;
}

.form_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.form_input label {
    margin: 1em 0;
    padding: 0 0.5rem;
    font-weight: bold;
}

.form_input input{
    border: none;
    border-radius: 2rem;
    padding: 0.7em;
    font-size: 1rem;
}

.form_input input:focus {
    outline:none;
}

.mt-adjust{
    margin-top: 1.5rem;
}

.contact_additional {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em 0;
    padding: 1.5em;
}


.contact_form_message {
    display: none;
    width: 45em;
    background-color: #6464ff;
    padding: 2em;
    border-radius: 15px;
    color: #fff;
    margin: 1.5em 0;
}

.contact_form_message h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5rem 0;
}

.contact_form_message p {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5rem 0;
}

.localization {
    width: 50%;
    border-right: 1px solid #3f3ff8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5em;
    color: #3f3ff8;
}

.localization_text {
    width: 30em;
}
.localization_text p {
    margin: 0.5em 0;
}

.localization_text p i {
    margin-right: 0.3em;
    /* font-size: ; */
}

.localization_text p span {
    font-weight: bold;
}

.localization h1,
.social h1 {
    margin: 1em 0;
}


.social {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5em;
    color: #3f3ff8;
}

.localization_social {
    margin: 1.5em 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.localization_social a {
    text-decoration: none;
    color: #3f3ff8;
    transition: 1s;
}

.localization_social a:hover {
    color: #9191f8;
}

.localization_social a i {
    font-size: 2em;
}


/* --------- Footer --------- */

footer{
    width: 100%;
    background-color: #3f3ff8;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #fff;
}

.footer p a {
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

.footer p a:hover {
    color: yellow;
}
